.list {
  width: 100%;
  position: relative;
  overflow: auto;
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #42a5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #42a5f5;
}

.txt {
  text-align: center;
  color: #e2a7fd;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}